<!-- row -->
<div class="row">


  <!-- col -->
  <div class="col-md-12">

    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen04" cg-busy="promise">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Tambah</strong> {{pageInformation.title}}</h1>
      </div>
      <!-- /tile header -->

      <!-- tile body -->
      <div class="tile-body">


        <form class="form-horizontal form-validation mt-20" novalidate name="form" role="form">

          <div class="form-group" ng-if="users.length">
            <label class="col-sm-2 control-label required" for="user">User</label>
            <div class="col-sm-10">
                  <select name="user" chosen="{width: '300px'}" ng-model="data.user_id" ng-options="item.id as item.name for item in users" ng-disabled="!users.length">
                      <option value="">Cari User</option>
                  </select>
            </div>
          </div>
          <hr class="line-dashed line-full" ng-if="users.length"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="purpose">Tujuan</label>
            <div class="col-sm-4">
              <input class="form-control" id="purpose"  ng-model="data.purpose" name="purpose" required="required"/>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="type">Jenis</label>
            <div class="col-sm-4">
              <input class="form-control" id="type"  ng-model="data.type" name="type" required="required"/>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <!-- Dropdown Lokasi -->
          <div ng-show="!location">

          <div class="form-group" xng-show="cities.length">
            <label class="col-sm-2 control-label required" for="city">Kab/Kota</label>
            <div class="col-sm-4">
              <select name="user" chosen="{width: '300px'}" ng-model="city" ng-options="item as item.name for item in cities" ng-disabled="!cities.length" ng-required="!location">
                  <option value="">Kab/Kota</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"  xng-show="cities.length"/>

          <div class="form-group" xng-show="districts.length">
            <label class="col-sm-2 control-label required" for="district">Kecamatan</label>
            <div class="col-sm-4">
              <select name="user" chosen="{width: '300px'}" ng-model="district" ng-options="item as item.name for item in districts" ng-disabled="!districts.length" ng-required="!location">
                  <option value="">Kecamatan</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"  xng-show="districts.length"/>

          <div class="form-group" xng-show="villages.length">
            <label class="col-sm-2 control-label required" for="village">Desa</label>
            <div class="col-sm-4">
              <select name="user" chosen="{width: '300px'}" ng-model="village" ng-options="item as item.name for item in villages" ng-disabled="!villages.length" ng-required="!location">
                  <option value="">Desa</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"  xng-show="villages.length"/>
          </div>
          
          <div class="form-group" ng-if="location">
            <label class="col-sm-2 control-label ">Lokasi</label>
            <div class="col-sm-4">
              <span ng-bind="location.name"></span> <a href="" ng-click="removeLocation()">ganti</a>
            </div>
          </div>
          <hr class="line-dashed line-full"  ng-if="location"/>
          <!-- Dropdown Lokasi -->

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="address">Blok</label>
            <div class="col-sm-4">
              <textarea class="form-control" id="address"  ng-model="data.address" name="address" required="required"></textarea>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
              <label for="lat" class="col-sm-2 control-label required">Koordinat</label>
              <div class="col-sm-4">
                  <div class="col-sm-6 p-0">
                    <input type="number" class="form-control" ng-model="coord.lon" step="0.01" style="margin-right: 2px" />
                  </div>
                  <div class="col-sm-6 p-0">
                    <input type="number" class="form-control" ng-model="coord.lat" step="0.01" style="margin-left: 2px" />
                  </div>
                  <div class="clearfix"></div>
                  <div coordinate-selector="coord"></div>
              </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
              <label for="lat" class="col-sm-2 control-label required">Jumlah</label>
              <div class="col-sm-4">
                  <input type="number" class="form-control" ng-model="data.quantity" step="1" />
              </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="button" class="btn btn-lightred" ng-click="historyBack()" xng-if="data.id"><i class="fa fa-times"></i> Cancel</button>
              <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="form.$invalid"><i class="fa fa-save"></i> Simpan</button>
              <button type="submit" ng-click="save(true)" class="btn btn-default" ng-disabled="form.$invalid" ng-if="!data.id">Simpan &amp; Lanjutkan</button>
            </div>
          </div>

        </form>


      </div>
      <!-- /tile body -->

    </section>
    <!-- /tile -->



  </div>
  <!-- /col -->


</div>
<!-- /row -->



