<div class="row">


  <!-- col -->
  <div class="col-md-12">

    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen04" cg-busy="promise">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Tambah</strong> {{pageInformation.title}}</h1>
      </div>
      <!-- /tile header -->

      <!-- tile body -->
      <div class="tile-body">


        <form class="form-horizontal form-validation mt-20" novalidate name="form" role="form">

          <!-- Dropdown Lokasi -->
          <div ng-show="!location">

          <div class="form-group" xng-show="cities.length">
            <label class="col-sm-2 control-label required" for="city">Kab/Kota</label>
            <div class="col-sm-4">
              <select name="user" chosen="{width: '300px'}" ng-model="city" ng-options="item as item.name for item in cities" ng-disabled="!cities.length" ng-required="!location">
                  <option value="">Kab/Kota</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"  xng-show="cities.length"/>

          <div class="form-group" xng-show="districts.length">
            <label class="col-sm-2 control-label required" for="district">Kecamatan</label>
            <div class="col-sm-4">
              <select name="user" chosen="{width: '300px'}" ng-model="district" ng-options="item as item.name for item in districts" ng-disabled="!districts.length" ng-required="!location">
                  <option value="">Kecamatan</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"  xng-show="districts.length"/>

          <div class="form-group" xng-show="villages.length">
            <label class="col-sm-2 control-label required" for="village">Desa</label>
            <div class="col-sm-4">
              <select name="user" chosen="{width: '300px'}" ng-model="village" ng-options="item as item.name for item in villages" ng-disabled="!villages.length" ng-required="!location">
                  <option value="">Desa</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"  xng-show="villages.length"/>
          </div>
          
          <div class="form-group" ng-if="location">
            <label class="col-sm-2 control-label ">Lokasi</label>
            <div class="col-sm-4">
              <span ng-bind="location.name"></span> <a href="" ng-click="removeLocation()">ganti</a>
            </div>
          </div>
          <hr class="line-dashed line-full"  ng-if="location"/>
          <!-- Dropdown Lokasi -->

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="address">Alamat</label>
            <div class="col-sm-4">
              <textarea class="form-control" id="address"  ng-model="data.address" name="address" required="required"></textarea>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
              <label for="lat" class="col-sm-2 control-label required">Koordinat</label>
              <div class="col-sm-4">
                  <div class="col-sm-6 p-0">
                    <input type="number" class="form-control" ng-model="coord.lon" step="0.01" />
                  </div>
                  <div class="col-sm-6 p-0">
                    <input type="number" class="form-control" ng-model="coord.lat" step="0.01" />
                  </div>
                  <div class="clearfix"></div>
                  <div coordinate-selector="coord"></div>
              </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="wide">Luas</label>
            <div class="col-sm-4">
              <input type="number" id="wide" class="form-control" ng-model="data.wide" name="wide" required="required" />
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <table class="table">
            <thead>
              <tr>
                <th>Jenis</th>
                <th style="width: 200px;">Tgl. Sapih</th>
                <th style="width: 100px;">Jumlah</th>
                <th style="width: 60px;"></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="detail in data.details" ng-class="{'row-deleted': detail.deleted}">
                <td><input type="text" class="form-control" name="type" ng-model="detail.type" ng-disabled="detail.deleted" required/></td>
                <td>
                    <input type="text" class="form-control" datepicker-popup="dd-MM-yyyy" ng-model="detail.date" is-open="opened[$index]" datepicker-options="dateOptions" ng-required="true" close-text="Close" ng-focus="opened[$index] = true" xng-blur="opened[$index] = false" ng-disabled="detail.deleted" ng-readonly="!!detail.id"/>
                </td>
                <td><input type="number" class="form-control" name="quantity" ng-model="detail.quantity" ng-disabled="detail.deleted" required ng-readonly="!!detail.id"/></td>
                <td style="text-align: center">
                  <button class="btn btn-success btn-sm" ng-click="data.details.push({})" ng-show="$index <= 0">
                      <fa name="plus"></fa>
                  </button>
                  <button class="btn btn-danger btn-sm" ng-click="removeDetail(detail, $index)" ng-show="$index > 0">
                      <fa name="trash" ng-hide="detail.deleted"></fa>
                      <fa name="times" ng-show="detail.deleted"></fa>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <hr class="line-dashed line-full"/>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="button" class="btn btn-lightred" ng-click="historyBack()" xng-if="data.id"><i class="fa fa-times"></i> Cancel</button>
              <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="form.$invalid"><i class="fa fa-save"></i> Simpan</button>
              <button type="submit" ng-click="save(true)" class="btn btn-default" ng-disabled="form.$invalid" ng-if="!data.id">Simpan &amp; Lanjutkan</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /tile body -->
    </section>
    <!-- /tile -->
  </div>
  <!-- /col -->
</div>
