<section id="header" class="{{main.settings.navbarHeaderColor}}">

  <header class="clearfix">
 
    <!-- Branding -->
    <div class="branding {{main.settings.brandingColor}}" style="padding-left: 0;">
      <a class="brand" ui-sref="app.dashboard">
        <img src="images/logo.png" style="height: 30px; margin-right: 10px; margin-left: 10px;" /><span>E-Tanam - Dinas Kehutanan Provinsi Jawa Barat</span>
      </a>
      <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar><i class="fa fa-bars"></i></a>
    </div>
    <!-- Branding end -->


    <!-- Left-side navigation -->
    <ul class="nav-left pull-left list-unstyled list-inline">
      <li class="sidebar-collapse divided-right">
        <a href="javascript:;" collapse-sidebar>
          <fa name="outdent"></fa>
        </a>
      </li>
      <li class="dropdown divided-right settings" dropdown on-toggle="toggled(open)" xng-hide="true">
        <a href class="dropdown-toggle" dropdown-toggle ng-hide="true">
          <fa name="cog"></fa>
        </a>
        <ul class="dropdown-menu with-arrow animated littleFadeInUp" ng-hide="true">
          <li>

            <ul class="color-schemes list-inline">
              <li class="title">Header Color:</li>
              <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.navbarHeaderColor='scheme-default'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.navbarHeaderColor='scheme-black'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-greensea" ng-click="main.settings.navbarHeaderColor='scheme-greensea'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.navbarHeaderColor='scheme-cyan'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.navbarHeaderColor='scheme-lightred'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.navbarHeaderColor='scheme-light'; $event.stopPropagation()"></a></li>
              <li class="title">Branding Color:</li>
              <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.brandingColor='scheme-default'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.brandingColor='scheme-black'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-greensea" ng-click="main.settings.brandingColor='scheme-greensea'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.brandingColor='scheme-cyan'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.brandingColor='scheme-lightred'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.brandingColor='scheme-light'; $event.stopPropagation()"></a></li>
              <li class="title">Sidebar Color:</li>
              <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.sidebarColor='scheme-default'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.sidebarColor='scheme-black'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-greensea" ng-click="main.settings.sidebarColor='scheme-greensea'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.sidebarColor='scheme-cyan'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.sidebarColor='scheme-lightred'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.sidebarColor='scheme-light'; $event.stopPropagation()"></a></li>
              <li class="title">Active Color:</li>
              <li><a href="javascript:;" class="scheme-drank" ng-click="main.settings.activeColor='drank-scheme-color'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-black" ng-click="main.settings.activeColor='black-scheme-color'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-greensea" ng-click="main.settings.activeColor='default-scheme-color'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-cyan" ng-click="main.settings.activeColor='cyan-scheme-color'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-lightred" ng-click="main.settings.activeColor='lightred-scheme-color'; $event.stopPropagation()"></a></li>
              <li><a href="javascript:;" class="scheme-light" ng-click="main.settings.activeColor='light-scheme-color'; $event.stopPropagation()"></a></li>
            </ul>

          </li>

          <li>
            <div class="form-group ng-scope">
              <div class="row">
                <label class="col-xs-8 control-label">Fixed header</label>
                <div class="col-xs-4 control-label">
                  <div class="onoffswitch lightred small" ng-click="$event.stopPropagation()">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fixed-header" checked="" ng-model="main.settings.headerFixed">
                    <label class="onoffswitch-label" for="fixed-header">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </li>

          <li>
            <div class="form-group ng-scope">
              <div class="row">
                <label class="col-xs-8 control-label">Fixed aside</label>
                <div class="col-xs-4 control-label">
                  <div class="onoffswitch lightred small" ng-click="$event.stopPropagation()">
                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fixed-aside" checked="" ng-model="main.settings.asideFixed">
                    <label class="onoffswitch-label" for="fixed-aside">
                      <span class="onoffswitch-inner"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <!-- Left-side navigation end -->


    <!-- Search -->
    <!-- <div class="search" id="main-search">
      <input type="text" class="form-control underline-input" placeholder="Cari Passport...">
    </div> -->
    <!-- Search end -->


    <!-- Right-side navigation -->
    <ul class="nav-right pull-right list-inline" style="color: #fff !important;">
      <li ng-hide="appAuth.authenticated"><a ui-sref="app.login">Login</a></li>
      <li ng-show="appAuth.authenticated"><span>Selamat datang</span> <a ng-bind="appAuth.profile.name | uppercase" href="javascript:void(0)" ng-click="openUpdateMe()">user</a> <span>|</span><a href="javascript:void(0);" ng-click="logout()">Logout</a></li>
       <li class="dropdown nav-profile" dropdown on-toggle="toggled(open)" ng-show="!!appAuth.token">

        <ul class="dropdown-menu pull-right with-arrow animated littleFadeInLeft">

          <li>
            <a href="#">
              <fa name="user"></fa>Profile
            </a>
          </li>
          <li>
            <a href="javascript:void();" ng-click="appAuth.logout()">
              <fa name="sign-out"></fa>Logout
            </a>
          </li>

        </ul>

      </li> 

    </ul>

  </header>

</section>


<div id="controls">

  <aside id="sidebar" class="{{main.settings.sidebarColor}}" ng-class="{'aside-fixed':main.settings.asideFixed}">
      <ul id="navigation" nav-collapse >
        <li ui-sref-active="active">
          <a ui-sref="app.dashboard" ui-sref-opts="{reload: false}"><fa name="dashboard"></fa> <span>Home</span></a>
        </li>

        <li ui-sref-active="active" data-permissions="seeds.index">
          <a ui-sref="app.seeds.index" ui-sref-opts="{reload: false}"><fa name="edit"></fa> <span>Permohonan Bibit</span></a>
        </li>

        <li ui-sref-active="active" data-permissions="plantings.index">
          <a ui-sref="app.plantings.index" ui-sref-opts="{reload: false}"><fa name="map-marker"></fa> <span>Upload Penanaman</span></a>
        </li>

        <li ui-sref-active="active" data-permissions="approvalseeds.index">
          <a ui-sref="app.approvalseeds.index" ui-sref-opts="{reload: false}"><fa name="leaf"></fa> <span>Persetujuan Bibit</span></a>
        </li>

        <li ui-sref-active="active" data-permissions="stockopnames.index">
          <a ui-sref="app.stockopnames.index" ui-sref-opts="{reload: false}"><fa name="reorder"></fa> <span>Stock Opname</span></a>
        </li>

        <!-- Contoh Multiple Sub Menu -->
        <!--
        <li ui-sref-active="active" ng-class="{'open':$state.includes('app.mail')}">
          <a ui-sref="app.mail"><fa name="list"></fa> <span>Ketersediaan Sumber Daya</span></a>
          <ul>
              <li>
                <a ui-sref="app.pd2()"><fa name="caret-right"></fa> Logistik</a>
                <ul>
                    <li><a ui-sref="app.foods.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Pangan</a></li>
                    <li><a ui-sref="app.clothings.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Sandang</a></li>
                    <li><a ui-sref="app.deathLogistics.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Paket Kematian</a></li>
                    <li><a ui-sref="app.otherLogistics.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Lainnya</a></li>
                </ul>
              </li>
              <li><a ui-sref="app.equipments.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Peralatan</a></li>
              <li><a ui-sref="app.humanResources.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Sumber Daya Manusia</a></li>
          </ul>
        </li>
        -->

        <li ui-sref-active="active" data-permissions-root="allowedMaster">
          <a ui-sref="app.mail"><fa name="list"></fa> <span>Master Data</span></a>
          <ul>
              <li data-permissions="emissions.index"><a ui-sref="app.emissions.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Faktor Emisi</a></li>
              <li data-permissions="plants.index"><a ui-sref="app.plants.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Deskripsi Tanaman</a></li>
              <li data-permissions="seedbeds.index"><a ui-sref="app.seedbeds.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Lokasi Persemaian</a></li>
          </ul>
        </li>
        
        <li ui-sref-active="active" data-permissions-root="allowedSetting">
          <a ui-sref="app.mail"><fa name="gear"></fa> <span>Settings</span></a>
          <ul>
              <li data-permissions="users.index"><a ui-sref="app.users.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Pengguna</a></li>
              <li data-permissions="roles.index"><a ui-sref="app.roles.index" ui-sref-opts="{reload: false}"><fa name="caret-right"></fa> Hak Akses</a></li>
          </ul>
        </li>
      </ul>
  </aside>

</div>

<div class="view-container" ui-view-container>

  <section ui-view id="content" autoscroll="false"></section>
</div>
