<div class="page page-core page-login" style="margin-top: -25px;">

  <div class="container w-420 p-15 bg-white mt-40 text-center" style="border: 1px solid #dbe0e2;" cg-busy="promise">

    <h2 class="text-light text-greensea">Forgot Password?</h2>

    <form name="form" class="form-validation mt-20" novalidate ng-submit="onRequestResetPassword(user.email)">

      <p class="help-block text-left">
         Enter your e-mail address below to reset your password.
      </p>

      <div class="form-group">
        <input type="email" class="form-control underline-input" placeholder="Email" ng-model="user.email" required>
      </div>


    <div class="bg-slategray lt wrap-reset mt-40 text-left">
      <p class="m-0">
        <button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right" ng-disabled='form.$invalid'>Submit</button>
        <a ui-sref="app.login" class="btn btn-lightred b-0 text-uppercase">Back</a>
      </p>
    </div>

    </form>

  </div>

</div>
