<div class="login-box">
  <div class="login-logo">
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body" style="border: 1px solid #dbe0e2;" cg-busy="promise" >
    <p class="login-box-msg">Login</p>
	
    <form name="form" class="form-validation mt-20" ng-submit="login()" novalidate>
      <div class="form-group has-feedback">
        <input type="email" name="username" class="form-control" placeholder="Email" ng-model="user.username" required>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" class="form-control" placeholder="Password" ng-model="user.password" required>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">        
        <!-- /.col -->
        <div class="col-xs-12">
          <button type="submit" class="btn btn-primary btn-block btn-flat" ng-disabled='form.$invalid'>Login</button>
        </div>
        <!-- /.col -->
      </div>
    </form>
    <br>    
    <a ui-sref="app.signup" class="mt-10" class="text-center">Sign Up</a> | 
	<a ui-sref="app.resetpassword" class="mt-10">Forgot password</a><br>
    

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->


