<!doctype html>
<html ng-controller="MainCtrl" class="no-js {{containerClass}}">
    <head>
        <meta charset="utf-8">
        <title>Dinas Kehutanan Provinsi Jawa Barat</title>
        <meta name="description" content="Website Monitoring Tanaman Dinas Kehutanan Provinsi Jawa Barat">
        <meta name="viewport" content="width=device-width">

        <base href="/"></base>
        <xmeta name="fragment" content="!" />

        <meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Script-Type" content="text/javascript">
        <meta http-equiv="robots" content="nofollow">
        <meta http-equiv="pragma" content="no-cache">
        
        <meta name="google" content="notranslate">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        
        <!-- build:css(.) styles/vendor.css -->
        <!-- bower:css -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css" />
        <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
        <link rel="stylesheet" href="bower_components/angular-loading-bar/build/loading-bar.css" />
        <link rel="stylesheet" href="bower_components/bootstrap-daterangepicker/daterangepicker-bs3.css" />
        <link rel="stylesheet" href="bower_components/simple-line-icons/css/simple-line-icons.css" />
        <link rel="stylesheet" href="bower_components/angular-toastr/dist/angular-toastr.css" />
        <link rel="stylesheet" href="bower_components/chosen/chosen.min.css" />
        <link rel="stylesheet" href="bower_components/openlayers3/build/ol.css" />
        <link rel="stylesheet" href="bower_components/angular-openlayers-directive/css/openlayers.css" />
        <link rel="stylesheet" href="bower_components/angular-openlayers-directive/css/markers.css" />
        <link rel="stylesheet" href="bower_components/angular-busy/dist/angular-busy.css" />

        <link rel="stylesheet" href="bower_components/owl-carousel/owl-carousel/owl.carousel.css" />
        <link rel="stylesheet" href="bower_components/owl-carousel/owl-carousel/owl.theme.css" />
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css" />
        <link rel="stylesheet" href="styles/extra.css" />
		
        <!-- endbuild -->
    </head>
    <body id="minovate" class="{{main.settings.navbarHeaderColor}} {{main.settings.activeColor}} {{containerClass}}" ng-class="{'header-fixed':main.settings.headerFixed, 'header-static':!main.settings.headerFixed, 'aside-fixed':main.settings.asideFixed, 'aside-static':!main.settings.asideFixed, 'rightbar-show':main.settings.rightbarShow, 'rightbar-hidden':!main.settings.rightbarShow, 'sidebar-hidden': !appAuth.authenticated }" cg-busy="mainPromise">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- Application content -->
        <div id="wrap" ui-view autoscroll="false"></div>
        <!-- Page Loader -->
        <div id="pageloader" xpage-loader></div>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-65827947-6');
            ga('send', 'pageview');
        </script>
        <!-- <script src='//maps.googleapis.com/maps/api/js?libraries=weather,geometry,visualization,places,drawing&sensor=false&language=en&v=3.17'></script> -->
        <!-- build:js(.) scripts/oldieshim.js -->
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->
        <!-- endbuild -->
        <!-- build:js(.) scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/openlayers3/build/ol.js"></script>
        <script src="bower_components/jquery/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>

        <script src="bower_components/angular-resource/angular-resource.js"></script>
        <script src="bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/angular-animate/angular-animate.js"></script>
        <script src="bower_components/angular-touch/angular-touch.js"></script>
        <script src="bower_components/angular-fontawesome/dist/angular-fontawesome.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
        <script src="bower_components/jquery.slimscroll/jquery.slimscroll.min.js"></script>
        <script src="bower_components/jquery.sparkline/index.js"></script>
        <script src="bower_components/angular-loading-bar/build/loading-bar.js"></script>
        <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
        <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
        <script src="bower_components/moment/moment.js"></script>
        <script src="bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
        <script src="bower_components/ng-bs-daterangepicker/src/ng-bs-daterangepicker.js"></script>
        <script src="bower_components/angular-momentjs/angular-momentjs.js"></script>

        <script src="bower_components/angular-toastr/dist/angular-toastr.tpls.js"></script>

        <script src="bower_components/oclazyload/dist/ocLazyLoad.min.js"></script>
        <script src="bower_components/chosen/chosen.jquery.min.js"></script>
        <script src="bower_components/angular-chosen-localytics/chosen.js"></script>

        <script src="bower_components/ng-file-upload/ng-file-upload.js"></script>

        <script src="bower_components/angular-smart-table/dist/smart-table.min.js"></script>
        <script src="bower_components/raphael/raphael.js"></script>
        <script src="bower_components/morrisjs/morris.js"></script>
        <script src="bower_components/flot/jquery.flot.js"></script>
        <script src="bower_components/flot/jquery.flot.resize.js"></script>
        <script src="bower_components/flot.tooltip/js/jquery.flot.tooltip.js"></script>
        <script src="bower_components/angular-flot/angular-flot.js"></script>
        <script src="bower_components/flot-spline/js/jquery.flot.spline.min.js"></script>
        <script src="bower_components/d3/d3.js"></script>

        <script src="bower_components/jquery.easy-pie-chart/dist/angular.easypiechart.min.js"></script>
        <script src="bower_components/angular-openlayers-directive/dist/angular-openlayers-directive.min.js"></script>
        <script src="bower_components/angular-busy/dist/angular-busy.js"></script>

        <script src="bower_components/owl-carousel/owl-carousel/owl.carousel.min.js"></script>
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:js(.) scripts/app.js -->
        <script src="scripts/script.js"></script>
        <script src="scripts/app.js"></script>
        <script src="scripts/directives/navcollapse.js"></script>
        <script src="scripts/directives/slimscroll.js"></script>
        <script src="scripts/directives/sparkline.js"></script>

        <script src="scripts/directives/pageloader.js"></script>
        <script src="scripts/directives/daterangepicker.js"></script>

        <script src="scripts/directives/lazymodel.js"></script>
        <script src="scripts/directives/toastrinject.js"></script>

        <script src="scripts/directives/chart-morris.js"></script>
        <script src="scripts/directives/gaugechart.js"></script>

        <script src="scripts/directives/anchor-scroll.js"></script>
        <script src="scripts/directives/collapsesidebar.js"></script>
        
        <script src="scripts/directives/wrap-owlcarousel.js"></script>
        <!-- Apps -->
        <script src="scripts/services/$store.js"></script>
        <script src="scripts/services/app_config.js"></script>
        <script src="scripts/services/app_cache.js"></script>
        <script src="scripts/services/app_auth.js"></script>
        <script src="scripts/services/app_popup.js"></script>
        <script src="scripts/services/app_filter.js"></script>
        <script src="scripts/directives/coordinate-selector.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/login.js"></script>
        <script src="scripts/controllers/dashboard.js"></script>
        <!-- Settings -->
        <script src="scripts/controllers/roles.js"></script>
        <script src="scripts/controllers/users.js"></script>
        <!--  Master Data -->
        <script src="scripts/controllers/locations.js"></script>
        <script src="scripts/controllers/emissions.js"></script>
        <script src="scripts/controllers/plantings.js"></script>
        <script src="scripts/controllers/plants.js"></script>
        <script src="scripts/controllers/seeds.js"></script>
        <script src="scripts/controllers/seedbeds.js"></script>
        <script src="scripts/controllers/stockopnames.js"></script>
        <script src="scripts/controllers/approvalseeds.js"></script>
        <!-- endbuild -->
    </body>
</html>
