<!-- row -->
<div class="row">


  <!-- col -->
  <div class="col-md-12">

    <!-- tile -->
    <section class="tile" fullscreen="isFullscreen04" cg-busy="promise">

      <!-- tile header -->
      <div class="tile-header dvd dvd-btm">
        <h1 class="custom-font"><strong>Tambah</strong> {{pageInformation.title}}</h1>
      </div>
      <!-- /tile header -->

      <!-- tile body -->
      <div class="tile-body">
        <form class="form-horizontal form-validation mt-20" novalidate name="form" role="form">

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="name">Pemohon</label>
            <div class="col-sm-4">
              <select name="seed_id" chosen="{width: '300px'}" ng-model="seed" ng-options="item as item.user.name for item in seeds" ng-disabled="!seeds.length" ng-change="onSeedChanged(seed)">
                <option value="">Pemohon</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Tujuan</label>
            <div class="col-sm-4">
              <input class="form-control" id="type"  ng-model="seed.purpose" name="type" readonly/>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Jenis</label>
            <div class="col-sm-4">
              <input class="form-control" id="type"  ng-model="seed.type" name="type" readonly/>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Jumlah</label>
            <div class="col-sm-4">
              <input class="form-control" id="type"  ng-model="seed.quantity" name="type" readonly/>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="name">Lokasi Persemaian</label>
            <div class="col-sm-4">
              <select name="seedbed_id" chosen="{width: '300px'}" ng-model="seedbed" ng-options="item as item.address for item in seedbeds" ng-disabled="!seedbeds.length" ng-change="onSeedbedChanged(seedbed)">
                <option value="">Cari Persemaian</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="name">Badeng</label>
            <div class="col-sm-4">
              <select name="seedbed_detail_id" chosen="{width: '300px'}" ng-model="seedbedDetail" ng-options="item as item.type for item in seedbedDetails" ng-disabled="!seedbedDetails.length" >
                <option value="">Cari Persemaian</option>
              </select>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <label class="col-sm-2 control-label required" for="quantity">Jumlah Disetujui</label>
            <div class="col-sm-4">
              <input class="form-control" type="number" id="quantity"  ng-model="data.quantity" name="quantity" required min="1" ng-max="seedbedDetail.quantity"/>
            </div>
          </div>
          <hr class="line-dashed line-full"/>

          <div class="form-group">
            <div class="col-sm-6 col-sm-offset-2">
              <button type="button" class="btn btn-lightred" ng-click="historyBack()" xng-if="data.id"><i class="fa fa-times"></i> Cancel</button>
              <button type="submit" ng-click="save()" class="btn btn-default" ng-disabled="form.$invalid"><i class="fa fa-save"></i> Simpan</button>
              <button type="submit" ng-click="save(true)" class="btn btn-default" ng-disabled="form.$invalid" ng-if="!data.id">Simpan &amp; Lanjutkan</button>
            </div>
          </div>
        </form>
      </div>
      <!-- /tile body -->
    </section>
    <!-- /tile -->
  </div>
  <!-- /col -->
</div>
<!-- /row -->